.container {
    display: flex;
}

.shop {
    width: 500px;
    height: 680px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

.d-flex {
    display: flex;
}

.s-evenly {
    justify-content: space-evenly;
}
.inventory {
    width: 500px;
    height: 680px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.j-center {
    justify-content: center;
}

.productCard {
    border: 1px solid black;
    width: 450px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

img {
    width: auto;
    height: 80px;
}

.column {
  flex-direction: column;
}